html, body{
    background-color: #F4D8CD;
    font-size: 16px;
    color: #F4D8CD;
}
#container {
    background: #1E555C;
    width: 90%;
    max-width: 900px;
    background:1E555C;
    margin: auto;
    border: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

section{
    border-bottom-width: 0.5px;
    border-bottom-color: #F4D8CD;
    border-bottom-style:solid;
}

.flex-container-one {
    display: flex;
    flex-direction: row;
    background-color: #1E555C;}
.flex-container-one>div{
    margin: auto;
    padding: 20px;}

img {
    border-radius: 50%;
    box-shadow: 50px 30px #F4D8CD;
}
.flex-container-two-personality{
    display: flex;
    height: auto;
    align-items: flex-start;
    flex-direction: row;
    background-color: #1E555C;}
.flex-container-two-personality>div{
    margin: auto;
    padding: 5px;}
 
